{% extends 'base.html' %}


{% block content_search %}
    <div class="card-header">
        <h1>Modelo de Lenguaje Natural Redes Sociales</h1>
        <br>
        <form class="form-inline" method="post">
            {% csrf_token %}
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group mx-sm-3 mb-2">
                    {{ twiter_form.twiter }}
                </div>
                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
            </div>
            <div class="col-md-4"></div>
            <div class="clearfix"></div>
        </form>


    </div>
{% endblock content_search %}

{% block content_body %}
{#    {% if result %}#}
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel">

                <div class="content">
                    <section id="team" class="pb-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="image-flip">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <h4 class="card-title">Positivo 1 </h4>
                                                        <a href="javascript:void(0)"
                                                           class="btn btn-primary btn-sm">{{ positivo }}% </a>

                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="image-flip">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <h4 class="card-title">Neutro 0</h4>
                                                        <a href="javascript:void(0)"
                                                           class="btn btn-primary btn-sm">{{ neutro }}%</a>

                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="image-flip">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <h4 class="card-title">Negativo -1 </h4>
                                                        <a href="javascript:void(0)"
                                                           class="btn btn-primary btn-sm">{{ negative }}%</a>

                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="image-flip">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <h4 class="card-title">Total tweets Procesados</h4>
                                                        <a href="javascript:void(0)"
                                                           class="btn btn-primary btn-sm">{{ total }} </a>

                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>tweet</th>
                                            <th>sentimiento</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for tweet in public_tweets %}
                                            <tr>
                                                <td><b>{{ forloop.counter }} .-</b></td>
                                                <td>{{ tweet.0 }}</td>
                                                <td>{{ tweet.1 }}</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
{#    {% endif %}#}


{% endblock content_body %}
